.titleBg{
    -fx-background-color: #7E82FF;
}

.title{
    -fx-font-family: "Bodoni MT";
    -fx-font-size: 25px;
    -fx-text-fill: #fff;
    -fx-padding: 0 0 0 20px;
}

.blackBg{
    -fx-background-color: #000;
}

.image-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.placeholder{
    -fx-background-color: #3e3e3e;
    -fx-background-radius: 10px;
}

.tilePanel{
    -fx-background-color: #3e3e3e;
}

.track{
    -fx-background-color: #6e6e6e;
    -fx-background-radius: 10px;
}

.heart-label {
    -fx-text-fill: red;
    -fx-font-size: 16px;
    -fx-padding: 5;
}

.button{
    -fx-background-color: #ECECFF;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-family: Georgia;
}

.button:hover{
    -fx-background-color: #7E82FF;
    -fx-text-fill: white;
}

#galleryBtn{
    -fx-font-size: 16px;
}

#videoBtn{
    -fx-font-size: 16px;
}

.toggleBtn{
    -fx-background-color: #ECECFF;
    -fx-font-family: Georgia;
}

.slider .thumb {
  -fx-background-color: blue, derive(blue, -20%);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 50%;
  -fx-padding: 12;
}

.slider .track {
  -fx-background-color: #6e6e6e;
  -fx-background-radius: 15;
}

